
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# always ignore environment files but for this example project we aren't including it in the gitignore
#.env*
